Faker==0.9.1
Sphinx==1.8.0
bpython==0.17.1
flake8==3.5.0
pydocstyle==2.1.1
pylint==2.1.1
model-mommy==1.6.0
pytest-cov==2.6.0
pytest-mock==1.10.0
pytest-socket==0.3.1
pytest==3.8.0
q==2.6
sphinxjp.themes.basicstrap==0.4.3
tox==3.3.0
wheel==0.31.1
yapf==0.24.0
