# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details

version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      # - restore_cache:
      #     keys:
      #       - deps-{{ checksum "requirements.txt" }}
      #       # fallback to using the latest cache if no exact match is found
      #       - deps-

      - run:
          name: install dependencies
          command: RUN=ci make venv

      - save_cache:
          paths:
            - ./venv
          key: deps-{{ checksum "requirements.txt" }}

      - run:
          name: check the formatting
          command: RUN=ci make format-check

      - run:
          name: run unit tests
          command: RUN=ci make ci-tests

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - run:
          name: run doc tests
          command: RUN=ci make ci-docs

  coala:
    docker:
      - image: coala/base:0.11

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Run coala
          command: coala --ci

workflows:
  version: 2
  gates:
    jobs:
      - coala
      - build
