defaults: &defaults
  docker:
    - image: circleci/python:3.7.0-stretch-node
  working_directory: ~/project

version: 2
jobs:
  prepare:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys: deps-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
      - run:
          name: prepare environment
          command: make venv
      - save_cache:
          paths:
            - ./venv
          key: deps-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
      - persist_to_workspace:
          root: ~/project
          paths: venv/*

  format:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - run:
          name: check formatter
          command: make ci-format

  lint:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - run:
          name: run linters
          command: make ci-linters

  docs:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - run:
          name: run doc tests
          command: make ci-docs

  test:
    <<: *defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/project
      - run:
          name: run unit tests
          command: make ci-tests
      - store_artifacts:
          path: test-reports
          destination: test-reports

workflows:
  version: 2
  gates:
    jobs:
      - prepare
      - format:
          requires:
            - prepare
      - lint:
          requires:
            - prepare
      - docs:
          requires:
            - prepare
      - test:
          requires:
            - prepare
